# Maven
target/
*.jar
*.war
*.ear
*.class

# Eclipse
.settings/
.classpath
.project
.factorypath

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Spring Boot
*.log
spring-shell.log

# OS
.DS_Store
Thumbs.db
